[submodule "libs/tmxparser"]
	path = libs/tmxparser
	url = https://github.com/andrewrk/tmxparser.git
[submodule "libs/tinyxml2"]
	path = libs/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
